<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}
<form method="post" action="">
{% csrf_token %}
<div class="form-group">
    <div class="form-group col-md-6">
        {{form}}
    <input class="btn btn-success" type="submit" value="儲存">
</div>
</form>

<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>帳戶</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for Debts in Debt %}
            <tr>
                <td>{{ Debts.id }}</td>
                <td>{{ Debts.DcID }}</td>
                <td>{{ Debts.Account }}</td>
                <td>
                    <!-- <a href="http://127.0.0.1:8000/api/debts/{{Debts.id}}"  class="btn btn-info">修改</a> -->
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{%endblock%}