
<html>
  <head>
    <meta charset="utf-8">
    <title>波加曼</title>
    <link href="style/test.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
  </head>

  <body>
    <div style="height:30px;background:#000;"></div>

      <h1>Features   Pricing   Community  Support</h1>
    <img src="image/test.png" alt="My test image">
    <p>This is a single paragraph</p>
    <p>At Mozilla, we’re a global community of</p>

<ul>
  <li>technologists</li>
  <li>thinkers</li>
  <li>builders</li>
</ul>

<a href="https://developer.mozilla.org/zh-TW/docs/Learn/Getting_started_with_the_web/HTML_basics">波加曼</a>

  </body>
</html>
